*{
    padding: 0px;
    margin: 0px;
    
}

.body{
    background-color: White ;
}



.prf{
    margin-top: 5px;
    font-size: 28px;
    font-family: Arial;
}

.x{
	
    background-color:#f8f8ff;
    height: 415px;
    width: 320px;
    background-color: white;    
    position: relative;
    bottom: 0px;
	text-align:center;
    padding: 15px;
    border: rgba(194, 194, 194, 0.747) solid 1px;

}

input{
    width: 250px;
    height: 35px;
    border-radius: 3px;
    border: rgba(194, 194, 194, 0.747) solid 1px;
    padding-left: 12px;
    font-size: 11px;
    
}
input[type="password"]{
    margin-top: 10px;
}
input:hover{
     color: rgb(26, 126, 226) ;

}
input:focus{
    outline: rgb(26, 126, 226);
}

.oluşturs{
	text-align:center;
    width: 265px;
    height: 30px;
    margin-top: 0px;
    margin-left: px;
    border-radius: 2px;
    border-style: none;
    background-color: #0095F6;
    color: white;
    font-weight: bold;
    font-size: 13px;
}


.btn{
	
    width: 265px;
    height: 28px;
    margin-top: 15px;
    margin-left: px;
    border-radius: 2px;
    border-style: none;
    background-color: #0095F6;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.btn:hover{
     background-color: rgb(17, 100, 182);
}

.ş{
	left:70px;
    color: rgb(26, 126, 226) ;
    text-decoration: none;
    position: relative;
    top: 18px;
    font-family: Arial;
    font-size: 13px;
}

.line{
	
     position: relative;
     top: 30px;
     color: rgba(194, 194, 194, 0.747) ;
     
}

.kayd{
	font: arial;
	text-decoration: none;
	
}

.btn2{
    width: 190px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    position: relative;
    top: 50px;
    left: 90px;
    background-color:#0099FF;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}
.btn2:hover{
    background-color:#0099FF ;
}

.hedear{
    height: 260px;
    width: 1930px;
    background-color: white;
    position: relative;
    top: 300px;
    right: 1100px;
    
text-align: center;
    
}
span{

    word-spacing: 10px;
    font-size: 12px;
    font-family: Arial;
    color: rgba(77, 77, 77, 0.651) ;
    position: relative;
    top: 30px;
    right: 150px;
    
    
}


.btn3{
	
    width: 35px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 4px;
}
.oluştur{
    position: relative;
    font-family: Arial;
    font-size: 14px;
}

.oluştur a{
 
    text-decoration: none;
    color: #0099FF;
    font-weight: bolder;

}
.oluşturs{
    position: relative;
    font-family: Arial;
    font-size: 13px;
}

.oluşturs a{
	
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 2px;

}


